<div class="leftSide">
    <div class="logo">LOGO</div>
    <div class="options">
            <div class="break"></div>
        <div class="menuOption addWorkout">Add workout</div>
            <div class="break"></div>
        <div class="menuOption calendar">Calendar</div>
            <div class="break"></div>
        <div class="menuOption statistics">Statistics</div>
            <div class="break"></div>
        <div class="menuOption yourGoals">Your goals</div>
            <div class="break"></div>
        <div class="menuOption templates">Templates</div>
            <div class="break"></div>
    </div>
    <div class="menuImageDiv">
        <img class="menuImage" src="/public/images/menuImage.png">
    </div>
</div>