<div class="leftSide">
    <div class="logo">LOGO</div>
    <div class="options">
            <div class="break"></div>
        <div class="menuOption yourWeightBtn">Your weight</div>
            <div class="break"></div>
        <div class="menuOption personalBestBtn">Personal best</div>
            <div class="break"></div>
        <div class="menuOption statisticsBtn">Workout stats</div>
            <div class="break"></div>
    </div>
    <div class="menuImageDiv">
        <img class="menuImage" src="/public/images/menuImage.png">
    </div>
</div>