.bgDiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #222222;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.newWorkoutForm{
    position: relative;
    bottom: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 250px;
}

#workoutName{
    position: absolute;
    border: none;
    outline: none;
    border-radius: 24px;
    height: 45px;
    width: 250px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 100%;
    top: 40%;
}

#workoutDate{
    position: absolute;
    top: 55%;
    right: 100px;
    border: none;
    outline: none;
    border-radius: 24px;
    height: 45px;
    width: 125px;
    padding-left: 24px;
    padding-right: 24px;
}

#workoutColor{
    position: absolute;
    top: 55%;
    right: 0%;
    border: none;
    outline: none;
    height: 45px;
    width: 45px;
}

.workoutTimeDiv{
    position: absolute;
    top: 70%;
    border-radius: 24px;
    height: 45px;
    width: 300px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

#workoutHours{
    height: 70%;
    width: 15%;
    border-radius: 24px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #888888;
    border: none;
}

#workoutMinutes{
    height: 70%;
    width: 15%;
    border-radius: 24px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #888888;
    border: none;
}

.workoutListDiv{
    background-color: #333333;
    height: 60%;
    position: absolute;
    top: 35%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    top: 5%;
    height: 45px;
}

.addFirst{
    background-color: #00dfc0;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.addingNew{
    position: absolute;
    height: 60%;
    width: 50%;
    background-color: #666666;
    display: flex;
    justify-content: center;
    display: none;
}

#exerciseName{
    position: absolute;
    border: none;
    outline: none;
    border-radius: 24px;
    height: 45px;
    width: 250px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 100%;
    top: 10%;
}

#workoutName::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.setsBtn{
    height: 45px;
    width: 200px;
    background-color: #222222;
    display: flex;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    color: #00dfc0;
    position: absolute;
    top: 30%;
    font-size: 25px;
    cursor: pointer;
}

.newSetsDiv{
    height: 50%;
    width: 60%;
    position: absolute;
    top: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
}

*::-webkit-scrollbar {
    width: 16px;
}
  
  *::-webkit-scrollbar-track {
    background: #666666;
}
  
  *::-webkit-scrollbar-thumb {
    background-color: #00dfc0;
    border-radius: 10px;
    border: 3px solid #111111;
}

.newRepDiv{
    background-color: #00dfc0;
    height: 45px;
    width: 300px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.repsWeightInput{
    width: 20%;
    height: 70%;
    outline: none;
    border: none;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 12px;
}

.addingDoneBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #00dfc0;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.workoutList{
    position: absolute;
    top: 20%;
    height: 70%;
    width: 60%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exerciseInListDiv{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 3%;
}

.exerciseInList{
    height: 45px;
    width: 200px;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
    background-color: #00dfc0;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newSetDisplay{
    height: 45px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.workoutList::-webkit-scrollbar {
    width: 16px;
}
  
  .workoutList::-webkit-scrollbar-track {
    background: #333333;
}
  
  .workoutList::-webkit-scrollbar-thumb {
    background-color: #00dfc0;
    border-radius: 10px;
    border: 3px solid #111111;
}

.addWorkout{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10%;
    right: 6%;
}

#addWorkoutBtn{
    cursor: pointer;
    height: 45px;
    width: 200px;
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: lightcoral;
    font-weight: bold;
    font-size: 20px;
}

/*TEMPLATES*/

.templatesDiv{
    height: 80%;
    width: 250px;
    position: absolute;
    left: 5%;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.templatesDiv::-webkit-scrollbar {
    width: 16px;
}
  
.templatesDiv::-webkit-scrollbar-track {
    background: #222222;
}
  
.templatesDiv::-webkit-scrollbar-thumb {
    background-color: #00dfc0;
    border-radius: 10px;
    border: 3px solid #111111;
}

.templateDiv{
    position: relative;
    background-color: #999999;
    height: 200px;
    width: 200px;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.templateTitle{
    position: absolute;
    top: 90px;
}

.fa-angle-down{
    position: absolute;
    font-size: 30px;
    bottom: 30px;
    cursor: pointer;
}

.fa-plus{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}

.exerciseName{
    font-size: 20px;
    height: 20px;
    position: relative;
    top: 25px;
}

.setDiv{
    color: #555555;
    font-size: 15px;
    height: 20px;
    position: relative;
    top: 30px;
}