.bgDiv{
    background-color: #eeeeee;
}

.mainTitle{
    color: #000000;
}

.fa-exclamation{
    color: lightcoral;
}

#deleteBtn{
    border: 2px solid black;
    background-color: lightcoral;
}

.deleteAlert{
    color: #000000;
}