.bgDiv{
    background-color: #eeeeee;
}

.mainTitle{
    color: #000000;
}

.saveBtn{
    border: 2px solid black;
    background-color: #00dfc0;
}

.alertDiv{
    background-color: #00dfc0;
    color: #222222;
}

.fa-triangle-exclamation{
    color: red;
}