.mainPage{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;

    display: flex;
    justify-content: center;
}

.mainPage .liveWorkoutDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60%;
    align-items: center;
}

.mainPage .liveWorkoutDiv .title{
    font-size: 200%;
    color: #ffffff;
}

.mainPage .liveWorkoutDiv .startBtn{
    position: relative;
    top: 10%;
    background-color: #00dfc0;
    font-size: 150%;
    width: 50%;
    height: 7.5%;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mainPage .liveWorkoutDiv .startBtn:hover{
    background-color: #00ffdd;
}

@keyframes workoutLiveDiv {
    0%{width: 0; height: 0;}
    100%{width: 100%; height: 100%;}
}

/*MENU*/

.userMenuDiv{
    position: absolute;
    top: 20px;
    right: 20px;
}

.fa-chevron-down{
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
}

.menuList{
    position: absolute;
    top: 40px;
    right: 0px;
    height: 0px;
    width: 195px;
    background-color: #666666;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.inMenuList{
    border-bottom: 1px solid #444444;
    border-top: 1px solid #444444;
    width: 195px;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 20px;
}

.fa-ban{
    position: absolute;
    right: 20px;
}

.fa-arrow-right-from-bracket{
    position: absolute;
    right: 20px;
}

.fa-user{
    position: absolute;
    right: 20px;
}

.fa-gear{
    position: absolute;
    right: 20px;
}

.deleteOption{
    background-color: lightcoral;
}

.inMenuList:hover{
    background-color: #888888;
}

.deleteOption:hover{
    background-color: rgb(255, 133, 133);
}

@keyframes menuList1 {
    0%{height: 0px;}
    100%{height: 200px;}
}

@keyframes menuList2 {
    0%{height: 200px;}
    100%{height: 0px;}
}

@keyframes arrowRotate1 {
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(180deg);}
}

@keyframes arrowRotate2 {
    0%{transform: rotateZ(180deg);}
    100%{transform: rotateZ(0deg);}
}

/*DATA*/

.dataDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    position: absolute;
    height: 330px;
    top: 8%;
    gap: 100px;
    background-color: #007767;
    border-radius: 24px;
}

/*GOALS*/

.allGoalsDiv{
    height: 300px;
    width: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
}

.goalsDiv{
    display: flex;
    position: absolute;
    left: 25px;
    gap: 50px;
}

.goalDiv{
    height: 250px;
    width: 250px;
    background-color: #666666;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.goalBackground{
    height: 250px;
    width: 250px;
    background-color: #666666;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.goalInfoDiv{
    height: 150px;
    width: 250px;
    background-color: #444444;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: absolute;
    gap: 10%;
    top: 0%;
    z-index: 1;
}

@keyframes goalInfoDivShow {
    0%{top: 0%;}
    100%{top: 100%; z-index: 3;}
}

@keyframes goalInfoDivHide {
    0%{top: 100%;}
    100%{top: 0%; z-index: 0;}
}

.infoText{
    position: relative;
    display: flex;
    align-items: center;
    color: #ffffff;
    left: 20px;
}

.goalTitle{
    color: #ffffff;
    position: absolute;
    top: 7%;
    z-index: 2;
}

.goalCircle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    z-index: 2;
}

.goalCircleIn{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    fill: none;
    stroke-width: 10;
    stroke: #00dfc0;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transform: rotateZ(90deg);
    transform-origin: 70px;
}

.percentNumber{
    position: absolute;
    font-size: 30px;
}

.scrollDots{
    position: absolute;
    height: 50px;
    width: 250px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}

.dot{
    height: 10px;
    width: 10px;
    background-color: #aaaaaa;
    border-radius: 50%;
    cursor: pointer;
}

.backgroundCircle{
    border: 10px solid #000000;
    z-index: 3;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: absolute;
    opacity: 0.2;
    box-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
}

/*WEIGHT*/

.weightDiv{
    height: 200px;
    width: 250px;
    position: absolute;
    left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #666666;
    border-radius: 24px;
    cursor: pointer;
}

.weightNumber{
    color: #ffffff;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
}

.weightText{
    color: #dddddd;
    position: absolute;
    bottom: 10px;
    text-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
}

/*CHART*/

.chartDiv{
    height: 200px;
    width: 250px;
    position: absolute;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #666666;
    border-radius: 24px;
    cursor: pointer;
}

.chartText{
    color: #dddddd;
    position: absolute;
    bottom: 10px;
    text-shadow: 0 20px 50px rgb(0, 0, 0, 0.8);
}

.canvasDiv{
    position: relative;
    top: -5%;
    height: 150px;
    width: 220px;
}