.bgDiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #222222;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    overflow: hidden;
}

.leftSide{
    height: 100%;
    width: 20%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #444444;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.leftSide .logo{
    position: absolute;
    top: 5%;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.leftSide .options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    position: relative;
    top: 17.5%;
}

.leftSide .options .menuOption{
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 120%;
    padding-left: 10%;
    width: 90%;
    height: 25%;
    cursor: pointer;
}

.leftSide .options .menuOption:hover{
    background-color: #666666;
}

.leftSide .options .break{
    height: 0.5px;
    width: 100%;
    background-color: white;
}

.leftSide .menuImageDiv{
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32.5%;
    width: 100%;
}

.leftSide .menuImageDiv .menuImage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}